boards/ZCU111/pynq_sdfec/
boards/ZCU111/bitstreams/
boards/RFSoC2x2/pynq_sdfec/
boards/RFSoC2x2/bitstreams/
boards/RFSoC4x2/pynq_sdfec/
boards/RFSoC4x2/bitstreams/

.Xil
vivado.jou
vivado.log

*.log

*.idea
*.ipynb_checkpoints
